<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
            android:allowBackup="true"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:fullBackupContent="@xml/backup_rules"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.MechaApp"
            tools:targetApi="31">
        <activity
                android:name=".features.Map.ConfirmationOrder"
                android:exported="false" />
        <activity
                android:name=".features.DetailPesanan.DetailPesananTransfer"
                android:exported="false" />
        <activity
                android:name=".features.DetailPesanan.MenungguKonfirmasiPembayaran"
                android:exported="false" />
        <activity
                android:name=".partner.features2.bayartagihan.BayarTagihan"
                android:exported="false" />
        <activity
                android:name=".partner.features2.History2.Detail.DetailPesanan"
                android:exported="false" />
        <activity
                android:name=".partner.features2.ambilpesan.AmbilPesan"
                android:exported="false"
                android:label="@string/title_activity_metode_pembayaran"
                android:theme="@style/Theme.MechaApp" />
        <activity
                android:name=".features.DetailPesanan.MetodePembayaran"
                android:exported="false" />
        <activity
                android:name=".features.DetailPesanan.DetailPesananBank"
                android:exported="false" />
        <activity
                android:name=".features.profile.AlertDialogKeluarAkun"
                android:exported="false" />
        <activity
                android:name=".features.DetailPesanan.DetailPesanan"
                android:exported="false" />
        <activity
                android:name=".features.profile.EditProfile"
                android:exported="false" />
        <activity
                android:name=".partner.home2.NavbarContainer2"
                android:exported="false">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value="" />
        </activity>
        <activity
                android:name=".features.Dashboard.NavbarContainer"
                android:exported="false" />
        <activity
                android:name=".features.Dashboard.Layanan.Service.LayananPerbaikan"
                android:exported="false" />
        <activity
                android:name=".features.Dashboard.Layanan.GantiBan.LayananBan"
                android:exported="false" />
        <activity
                android:name=".features.Dashboard.Layanan.Emergency.LayananDarurat"
                android:exported="false" />
        <activity
                android:name=".features.Login.ForgetPassword2"
                android:exported="false">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value="" />
        </activity>
        <activity
                android:name=".features.Login.ForgetPassword"
                android:exported="false">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value="" />
        </activity>
        <activity
                android:name=".features.OnBoard.OpenApp2"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                    android:name="android.app.lib_name"
                    android:value="" />
        </activity>
        <activity
                android:name=".OpenApp"
                android:exported="false">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value="" />
        </activity>
        <activity
                android:name=".features.OnBoard.LandingPage"
                android:exported="false">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value="" />
        </activity>
        <activity
                android:name=".features.Register.Register"
                android:exported="false">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value="" />
        </activity>
        <activity
                android:name=".features.MainActivity"
                android:exported="true">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value="" />
        </activity>

        <meta-data
                android:name="preloaded_fonts"
                android:resource="@array/preloaded_fonts" />
        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="AIzaSyBBd4ocNHBFBwubZfZ54m2-XCSdIA5T1NU" />
    </application>

</manifest>